<form class="billtableform"  onkeypress="return event.keyCode != 13;">
        <div class="row billprint">
        
            <div class="col-md-3" style="max-height:450px !important; overflow-y:scroll;">
            
        
                <nav class="nav attachtable flex-column border "> 
          <a class="nav-link text-danger border border-bottom-1 border-left-1"  href="#">
            <label>Table name</label>
            
          
        </nav>
        <nav class="nav attachroom flex-column border " style="box-shadow: 2px 2px grey;"> 
            <a class="nav-link text-danger border border-bottom-3 border-left-1"  href="#">
              <label>Room name</label>
             
          </nav>
          <nav class="nav attachhall flex-column border " style="box-shadow: 2px 2px grey;"> 
            <a class="nav-link text-danger border border-bottom-3 border-left-1"  href="#">
              <label>Hall name</label>
            
            
          </nav>
            </div>
        
         
        
            
            <div class="col-md-7 billmainpart">
            
            <% /* <div class="row">
                <div class="col-12 billdata">
            <h1 style="text-align:center;"> Hotel Atlas</h1>
            <p style="text-align: center;">Sunual-12, Bhumahi</p>
            <label style="font-size:12px;"><b>Bill no:</b><b class=" billno ml-1"></b></label>
        
        
            <label style="position:relative; left:100px; font-size:12px;">
            <label class='dates d-inline'>Date:</label>
              <label class='times ml-1  d-inline'>Time:</label>
            <label style="position:relative; left:30px;"><b>PAN No.:</b><b class=" panno ml-1">304898466</b></label> 
        
        </label>
        <br/>
        </div>
        
        <div class="billdata ml-3">
        <label class="d-inline">Name:</label><input id="customername"  style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; width:200px;" class="form-control d-inline ml-2 mr-2" placeholder="Customer name" autofocus name="customername" autocomplete="off"><label class="d-inline">Address:</label><input   style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; width:200px;" class="form-control d-inline ml-2 mr-4" placeholder="Address" autofocus name="address" autocomplete="off"><label class="d-inline">Type:</label><input name="rthno" id="rthno" autocomplete="off"  style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; width:90px;" class="form-control ml-1 d-inline" placeholder="R/H/T No." >
        </div>
        
        
        </div>
        <br>
        
         <div class="viewstock">
                    <div class="row mt-3">
                                
                        <div class="col-md-4 form-group">
        
                            <input id="insertitemname" class="d-inline w-100" style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important;" placeholder="Itemname" >
                             
                        </div>
                        <div class="col-md-3 searchstockitem">
        
                            <input style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; " required autofocus list="categorylist" type="number" placeholder="Quantity" class="text-center mr-2" id="insertquantity">
                         
                        </div>
                        <div class="col-md-3">
                            <button class="btn ml-4  btn-sm searchstock btn-primary" type="submit">Add</button>
                        </div>
                                        <div class="col-md-2"></div>
                        </div>
                    </div>
            <table  class="table  billtable ">
                <tr class=" m-0  row text-center">
                    <th  class="col-md-2">S.N.</th>
                    <th  class="col-md-4">Item Name </th>
                    <th  class="col-md-1">Quantity</th>
                    <th  class="col-md-2">Unit</th>
                    <th  class="col-md-1">Price(Rs.)</th>
                    <th  class="col-md-2">Amount</th>
                    
                </tr>	
            </table> */ %>
        </div>
        
        
            <br/>
            <div class="col-md-2 text-center">
            
        
                <nav class="nav flex-column border border-primary " style="box-shadow: 2px 2px blue;"> 
          <a class="nav-link border border-bottom-3 border-left-1" data-toggle="modal" data-target="#roomModal"   href="#">Add room</a>
            
          <a class="nav-link border border-bottom-3 border-left-1" data-toggle="modal" data-target="#tableModal"  href="#">Add table</a>
             
          <a data-toggle="modal" data-target="#hallModal"   class="nav-link border border-bottom-3 border-left-1"  href="#">Add hall</a>
          
        </nav>
            </div>
        
        </div>
        
        
        
        <div class="row final-row">
            <div class="col-md-3"></div>
        <div class="col-md-7">
        <div class="row finalmaintable ">
        <% /* <div class="col-md-3">
            <label class="text-bold">Total</label><input style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; " class=" d-inline form-control w-100 text-center" name="totalamount" id="totalamount" value="0">
            </div>
            <div class="col-md-3">
            <label>Service Charge</label><input style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; "  class="d-inline form-control w-100 text-center" name="servicechargeamount" value="0" id="servicechargeamount">
            </div>
            
            
        <div class="col-md-3">
        <label>Discount</label>
        <input placeholder="Amount" style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important;  width:120px;  box-shadow: 2px 2px blue !important; border-radius:5px !important; " name="discountamount" class=" d-inline  form-control text-center" type="text" id="discountamount" />
        
        <input style="font-size: 15px; border:1px solid blue !important;  height:32px !important; width:50px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; " name="discountamount" class=" d-inline form-control mt-1" id="discountamount" placeholder="%" type="text"  />
        
        
        </div>
        <div class="col-md-3">
            <label><b>Grand Total</b></label><input style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; " name="grandtotalamount" class="form-control  w-100 text-center" id="grandtotalamount" value="0">
        
            </div>
            </div>
            <div class="text-center mt-2">
            <a name="" id="submit" class="btn btn-primary text-center" href="#" role="button">Submit</a>
            </div>
            </div>
        
        
        </div> */ %>
        </div>
        </div>
        </div>
        </div>
        </form>
        
        