<!-- views/partials/header.ejs -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">View Stock Item</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Add Item</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Add Group</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Add Category</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Add Units</a>
          </li>
          
        </ul>
    
        <!-- SEARCH FORM -->
        
    
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <!-- Messages Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="far fa-comments"></i>
              <span class="badge badge-danger navbar-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <a href="#" class="dropdown-item">
                <!-- Message Start -->
                <div class="media">
                  <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                  <div class="media-body">
                    <h3 class="dropdown-item-title">
                      Brad Diesel
                      <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                    </h3>
                    <p class="text-sm">Call me whenever you can...</p>
                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                  </div>
                </div>
                <!-- Message End -->
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <!-- Message Start -->
                <div class="media">
                  <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                  <div class="media-body">
                    <h3 class="dropdown-item-title">
                      John Pierce
                      <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                    </h3>
                    <p class="text-sm">I got your message bro</p>
                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                  </div>
                </div>
                <!-- Message End -->
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <!-- Message Start -->
                <div class="media">
                  <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                  <div class="media-body">
                    <h3 class="dropdown-item-title">
                      Nora Silvester
                      <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                    </h3>
                    <p class="text-sm">The subject goes here</p>
                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                  </div>
                </div>
                <!-- Message End -->
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
            </div>
          </li>
          <!-- Notifications Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="far fa-bell"></i>
              <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-item dropdown-header">15 Notifications</span>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-envelope mr-2"></i> 4 new messages
                <span class="float-right text-muted text-sm">3 mins</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-users mr-2"></i> 8 friend requests
                <span class="float-right text-muted text-sm">12 hours</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-file mr-2"></i> 3 new reports
                <span class="float-right text-muted text-sm">2 days</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
              <i class="fas fa-th-large"></i>
            </a>
          </li>
        </ul>
      </nav>
    
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
          <!-- Brand Logo -->
          <a href="index3.html" class="brand-link">
            <img src="dist/img/logo.png" alt="Ansu ERP Logo" class="brand-image "
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Ansu ERP v0.1</span>
          </a>
      
          <!-- Sidebar -->
          <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
              <div class="image">
                <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
              </div>
              <div class="info">
                <a href="#" class="d-block">Hotel Span</a>
              </div>
            </div>
      
            <!-- Sidebar Menu -->
            <nav class="mt-2">
              <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                     <li class="nav-item">
                      <a href="index2.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                          Dashboard
                        </p>
                      </a>
                    </li>
                 
                <li class="nav-item">
                  <a href="voucher.html" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Voucher
                    </p>
                  </a>
                </li>
      
                <li class="nav-item">
                  <a href="stock.html" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Stock
                    </p>
                  </a>
                </li>
      
                <li class="nav-item">
                  <a href="billing.html" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                      Billing
                    </p>
                  </a>
                </li>
      
                <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                      Report
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    
                    <li class="nav-item has-treeview">
                      <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>
                          Daybook
                          <i class="right fas fa-angle-left"></i>
                        </p>
                      </a>
                      <ul class="nav nav-treeview">
                        <li class="nav-item">
                          <a href="viewdaybook.html" class="nav-link">
                            <i class="far fa-dot-circle nav-icon"></i>
                            <p>View Daybook</p>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="alterdaybook.html" class="nav-link">
                            <i class="far fa-dot-circle nav-icon"></i>
                            <p>Alter Daybook</p>
                          </a>
                        </li>
                        
                      </ul>
                    </li>
                
                    
                   
                    <li class="nav-item has-treeview">
                      <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>
                          Ledger
                          <i class="right fas fa-angle-left"></i>
                        </p>
                      </a>
                      <ul class="nav nav-treeview">
                        <li class="nav-item">
                          <a href="viewledger.html" class="nav-link">
                            <i class="far fa-dot-circle nav-icon"></i>
                            <p>View Ledger</p>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="alterledger.html" class="nav-link">
                            <i class="far fa-dot-circle nav-icon"></i>
                            <p>Alter Ledger</p>
                          </a>
                        </li>
                        
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a href="trialbalance.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Trial Balance</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="balancesheet.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Balance Sheet</p>
                      </a>
                    </li>
                
                
      
              </ul>
            </nav>
            <!-- /.sidebar-menu -->
          </div>
          <!-- /.sidebar -->
        </aside>
</div>



  <nav class="navbar mb-4 mainheader navbar-expand text-black navbar-light ">
  <a class="navbar-brand mt-2" href="http://www.hotelatlas.com.np"><img style="width:100px; height:auto;opacity:1;" src="./js/ansulogo.png" /></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto text-white">
      <li class="nav-item active ml-5">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    <% /*  <li class="nav-item active ml-5">
        <a class="nav-link" href="/reserve">Reserve</a>
      </li> */ %>
      <li class="nav-item active ml-5">
        <a class="nav-link" href="/voucher">Voucher</a>
      </li>
      <li class="nav-item active ml-5">
        <a class="nav-link" href="/stock">Stock</a>
      </li>
       <li class="nav-item active ml-5">
        <a class="nav-link" href="/billing">Billing</a>
      </li>
      <li style="z-index:1999 !important;" class="nav-item active dropdown ml-5">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Report
        </a>
        <ul  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle text-dark" data-toggle="dropdown" href="#">Daybook</a>
            <ul class="dropdown-menu">
              <a class="dropdown-item text-dark" href="/daybook">View Daybook</a>
              <a class="dropdown-item text-dark" href="#">Alter Daybook</a>
            </ul>
          </li>
             <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle text-dark" data-toggle="dropdown" href="#">Ledger</a>
            <ul class="dropdown-menu">
              <a class="dropdown-item text-dark" href="/ledger">View Ledger</a>
              <a class="dropdown-item text-dark" href="#">Alter Ledger</a>
            </ul>
          </li>

          <li><a class="dropdown-item text-dark" href="/trialbalance">Trial Balance</a></li>
          <li><a class="dropdown-item text-dark" href="#">Balance Sheet</a></li>

         
        </ul>
      </li>
         <li class="nav-item active ml-5">
        <button class="nav-link bg-info logout  border rounded-top rounded-bottom" href="/logout">Logout</button>
      </li>
    </ul>
<iframe scrolling="no" border="0" frameborder="0" marginwidth="0" marginheight="0" allowtransparency="true" src="https://www.ashesh.com.np/linknepali-time.php?time_only=no&font_color=00FF7F&aj_time=yes&font_size=13&line_brake=0&bikram_sambat=0&api=960147j096" width="308" class="mt-2"  height="24"></iframe>
  </div>

</nav>
<script>

$('button.logout').on('click',function(e)
{
  Cookies.set('username','');
  Cookies.set('password','');
  window.location.replace("http://account.hotelatlas.com.np/login");

  
})
var refresh_rate = 400; //<-- In seconds, change to your needs
var last_user_action = 0;
var has_focus = false;
var lost_focus_count = 0;
var focus_margin = 10; // If we lose focus more then the margin we want to refresh


function reset() {
    last_user_action = 0;
    console.log("Reset");
}

function windowHasFocus() {
    has_focus = true;
}

function windowLostFocus() {
    has_focus = false;
    lost_focus_count++;
    console.log(lost_focus_count + " <~ Lost Focus");
}

setInterval(function () {
    last_user_action++;
    refreshCheck();
}, 1000);

function refreshCheck() {
    var focus = window.onfocus;
    if ((last_user_action >= refresh_rate && !has_focus && document.readyState == "complete") || lost_focus_count > focus_margin) {
        window.location.reload(); // If this is called no reset is needed
        reset(); // We want to reset just to make sure the location reload is not called.
    }

}
window.addEventListener("focus", windowHasFocus, false);
window.addEventListener("blur", windowLostFocus, false);
window.addEventListener("click", reset, false);
window.addEventListener("mousemove", reset, false);
window.addEventListener("keypress", reset, false);
window.addEventListener("scroll", reset, false);
document.addEventListener("touchMove", reset, false);
document.addEventListener("touchEnd", reset, false);
</script>