
<div class="row ">
    
    <div class="col-md-12 mt-1">
        <div class="paymentreceiptjournalcontraform ml-2">
            <div class="row">
                <div class="col-12 mt-2 billdata">
                    <br/>
                    <% /*<button class="btn btn-primary printbutton mb-2">Print</button><br/><br/>*/ %>
                    <label style="font-size:20px; width:150px; text-align: center;  background-color:red;" id="transactiontitle">Payment</label><label class="ml-3">Number:</label>
                          <% if(paymentno[0]!==undefined){ %>
                          <h6 style=" border:1px solid #EEE; width:140px !important;" class=' text-dark p-1  ml-2 d-inline mr-5 transactionno' id="transactionno"><%= paymentno[0]['transactionno'] + 1%></h6>
                            <% } else
                            { %>
            
 <h6 id="transactionno" class=' text-dark  ml-2 d-inline mr-5 transactionno'>1</h6>
                        <% } %> 
                    <h6 class='dates1 text-dark d-inline float-right mr-5'>Date:</h6>
                </div>
            </div>
            <form id="paymenttranscation" onkeypress="return event.keyCode != 13;" onsubmit="return false" action="" method="post" autocomplete="off">
                <div style="max-height: 400px;" class="table-responsive mt-3">
                    <table class="paymentheader table table-bordered paymenttable">
                        <tr class=" m-0 bg-white text-black row text-center">
                            <th class="col-md-1">S.N.</th>
                            <th class="col-md-1">Dr/Cr</th>
                            <th class="col-md-4">Account</th>
                            <th class="col-md-3">Debit(Rs.)</th>
                            <th class="col-md-3">Credit(Rs.)</th>
                         
                        </tr>
                    </table>
                </div>
                <div class="row">
        
                    <div class="col-md-6 mr-5">

                      <textarea rows="3" cols="50" style="border-radius:5px;" id="narration" placeholder="Narration..."></textarea>
                      <input class="form-control w-25" name="chequeno" id="chequeno" type="hidden" placeholder="Cheque no">
                    </div>
                    <div class="col-md-2">
                    <label>Rs.</label><label class=" text-center ml-1 mr-3" id="totaldebit">0</label>
                </div>
                <div class="col-md-2">
                    <label class="ml-5">Rs.</label><label  id="totalcredit">0</label>
                    <button type="reset" class="btn d-none resetpayment justify-content-center  btn-primary"> Reset
                    </button>
                </div>
                    
                </div>
       
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2 mt-n2">
                        <button type="submit" id="vouchersubmit" class="btn btn-primary"> Submit
                    </button>
                </div>

                </div>
                

            </form>
        </div>
        <% include ../partials/sales %>
      





        <button type="button" id="hello" class="btn btn-primary d-none" data-toggle="modal" data-target="#myModal" accesskey="h">
            Create Account
        </button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="margin:auto; height: 500px; width: 900px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form  class="accountinformations"  onkeypress="return event.keyCode != 13;"  autocomplete="off">
                        <div class="modal-body ">
                            <div class="row ">
                                <div class="col-md-5 accountinformation">
                                    <fieldset class="border border-success p-2">
                                        <legend class="w-auto">General Informatio</legend>
                                        <label style="font-size: 12px;">Name</label><input type="text" name="accountname" id="accountname" tabindex="-1" class="ml-2  border-0 w-50 form-control d-inline" required autofocus><br>
                                        <label style="font-size: 12px;">Alias</label><input type="text" name="alias" id="alias" class=" ml-2  border-0 w-50 form-control d-inline"><br>
                                        <label style="font-size: 12px;">Print Name:</label><input name="printname" type="text" class=" ml-2 form-control border-0 d-inline w-50 "><br>
                                        <label style="font-size: 12px;">Group</label><select class="ml-2 w-50 form-control d-inline" style="font-size: 12px; height:30px;" name="accountgroup" onchange="javascript:changeaccounttype(event)" id="accountgroup" required>
                                            <option value="0">------------</option>
                                            <% results.forEach(function(result) { %>
                                            <option value='<%= result.groupid %>'>
                                                <%= result.grouptitle %>
                                            </option>
                                            <% }); %>
                                        </select><br>
                                    </fieldset>
                                </div>
                                <div class="col-md-6 accountinformation">
                                    <fieldset class="border border-success p-2">
                                        <legend class="w-auto">Address Info.</legend>
                                        <label style="font-size: 12px;">Address</label><input type="text" name="address" id="address" class="ml-2 border-0 w-50 form-control d-inline"><br>
                                        <label style="font-size: 12px;">Country</label><input type="text" name="country" id="country" class=" ml-2  border-0 w-50 form-control d-inline"><br>
                                        <label style="font-size: 12px;">Tel. No.</label><input name="telno" id="telno" type="number" class=" ml-2 form-control border-0 d-inline w-50 "><br>
                                        <label style="font-size: 12px;">Fax</label><input name="fax" id="fax" type="number" class=" ml-2 form-control border-0 d-inline w-50 "><br>
                                        <label style="font-size: 12px;">Mobile No.</label><input name="mobileno" id="mobileno" type="number" class=" ml-2 form-control border-0 d-inline w-50 "><br>
                                        <label style="font-size: 12px;">Email</label><input name="email" id="email" type="email" class=" ml-2 form-control border-0 d-inline w-50 "><br>
                                        <label style="font-size: 12px;">Contact Person</label><input name="contactperson" id="contactperson" required type="text" class=" ml-2 form-control border-0 d-inline w-50 "><br>
                                        <div class="form-group" style="display:none; max-height:20px !important;" id="accountnodiv">
                                            <label id="accountnolabel" style="font-size:12px;">Account No</label> <input id="accountno" name="accountno" type="number" class=" ml-2 border-0 d-inline w-50 " disabled>
                                        </div>
                                        <label style="font-size: 12px;">IT PAN</label><input id="panno" name="panno" type="number" class=" ml-2 form-control border-0 d-inline w-50 "><br>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="modal-footer">
                               
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="reset" class="btn resetaccount d-none btn-secondary" id="closecreateaccount" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#contraentry">
            Create Contra
        </button>
        <!-- Form for Contra Voucher  -->
        <div class="modal fade" id="contraentry" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Add Contra</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="contraform">
                        <div class="modal-body ">
                            <fieldset class="border p-3">
                                <legend class="w-auto">General Info.</legend>
                                <label style="font-size: 18px;">Bank Name</label><input type="text" name="bankname" id="bankname" class="ml-2  border-0 w-75 form-control d-inline" required autofocus />
                                <label style="font-size: 18px;">A/C No</label><input type="text" name="number" id="bankacno" class=" ml-2  border-0 w-75 form-control d-inline" />
                                <label style="font-size: 18px;">Group</label><select class="ml-2 p-0 w-75 form-control d-inline" name="accountgroup" onchange="javascript:changeaccounttype(event)" id="accountgroup" required>
                                    <option value="0">------------</option>
                                    <% results.forEach(function(result) { %>
                                    <option value='<%= result.groupid %>'>
                                        <%= result.grouptitle %>
                                    </option>
                                    <% }); %>
                                </select>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn resetaccount btn-secondary" id="closecreateaccount" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" onclick="javascript:submitcontra(event)">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- <button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#contraentry"  accesskey="c">
  Contra form
</button> -->
    </div>
    

        <nav class="navbar  voucherside col-md-2"  style=" margin:0; position: relative; font-size:14px; text-align:center; ">
            <a class="nav-link d-none" style="border:1px solid black;" id="report" href="#">Report</a>
            <ul style="display:none;" class="list-group reportlist mt-1 ml-2 justify-contents-center w-75 mb-2 p-0">
                <li style="height:35px;" class="list-group-item p-1"><a href="daybookreturn">Day Book</a></li>
                <li style="height:35px;" class="list-group-item p-1"><a href="trialbalance">Trial Balance</a></li>
                <li style="height:35px;" class="list-group-item p-1"><a href="trialbalance">Ledger</a></li>
                <li style="height:35px;" class="list-group-item p-1"><a href="trialbalance">Balance Sheet</a></li>
            </ul>
          
     
        </nav>

    </div>

        <% include ../partials/itemcreate %>
        <% include ../partials/itemgroupcreate %>
        <% include ../partials/itemcategorycreate %>
        <% include ../partials/unitModal %>
     <!-- <p id="transactionid">
        <%= paymentno[0]  %>
    </p> -->