<div style="z-index:40000; "  class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin:auto; width:400px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Item Creation</h5>
                <button type="button" class="closeitem close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <form class="iteminformations" method="post" action="" onkeypress="return event.keyCode != 13;" autocomplete="off">
                <div class="modal-body ">
                    <div class="row ">
                        <div class="col-md-10 iteminformation">
                            <h4 class="text-center error-msg">
                            </h4>
                          <!--   <label style="font-size: 12px;">Itemname</label><input type="text" name="itemsname" id="itemsnamemodal" class="ml-2 border border-1 w-75 form-control d-inline" autofocus required oninvalid="this.setCustomValidity('Set Itemname!!')"> -->
                            <label style="font-size: 12px;">Itemname</label><input type="text" name="itemsname" id="itemsnamemodal" class="ml-2 border border-1 w-75 form-control d-inline" autofocus required ><br></br>
                            <label style="font-size: 12px;">Alias</label><input type="text" name="itemalias" id="itemalias" required class="ml-2 border border-1 w-75 form-control d-inline"><br></br>
                            <label style="font-size: 12px;">Units</label><input list="unitlist" name="units" 
                            id="unitcreate" type="text" required class=" ml-2 border form-control border-1 d-inline w-75"><br></br>
                             <label style="font-size: 12px;">Price</label><input name="price" 
                            id="price" type="number" required class=" ml-2 border form-control border-1 d-inline w-75"><br></br>
                            <label style="font-size: 12px;">Group</label>
                            <input type="text"  required list="itemgrouplist" name="itemgroupcreate" id="itemgroupcreate" class="form-control border border-1 d-inline w-75">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="submititem" id="submititem" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>