<div style="z-index:40000; positive:relative;"  class="modal fade" id="itemcategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin:auto;width: 400px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Category Creation</h5>
                <button type="button" class="closecategory close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="itemcategoryinformations" method="post" action="" onkeypress="return event.keyCode != 13;" autocomplete="off" >
                <div class="modal-body ">
                    <div class="row ">
                        <div class="col-md-10 itemcategoryinformation">
                            <label id="clickcatname" for="categoryname" style="font-size: 12px;">Name</label><input type="text" name="categoryname" id="categoryname" class="ml-2   w-50  d-inline" required autofocus ><br></br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>