<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
   
   
    <% include ../partials/head %>
    <% include ../partials/stylepayment %>
    <link rel="stylesheet" href="https://unpkg.com/nepali-date-picker@2.0.0/dist/nepaliDatePicker.min.css" integrity="sha384-Fligaq3qH5qXDi+gnnhQctSqfMKJvH4U8DTA+XGemB/vv9AUHCwmlVR/B3Z4nE+q" crossorigin="anonymous">
</head>

<body class="hold-transition sidebar-mini">
        <li class="nav-item active ml-5">
                <a class="nav-link" href="/voucher1">Voucher</a>
              </li>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
            
        <% include ../partials/stock %>
        <% include ../partials/stockinformation %>
        <% include ../partials/itemcreate %>
        <% include ../partials/itemgroupcreate %>
        <% include ../partials/unitModal %>
        <% include ../partials/itemcategorycreate %>
        



    </main>
        <script src="../js/sales.js"></script>
    <script src="../js/itemcreate.js"></script>
    <script src="../js/itemgroupcreate.js"></script>
    <script src="../js/itemcategorycreate.js"></script>
    <script src="../js/unitcreate.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/nepali-date-picker@2.0.0/dist/jquery.nepaliDatePicker.min.js" integrity="sha384-bBN6UZ/L0DswJczUYcUXb9lwIfAnJSGWjU3S0W5+IlyrjK0geKO+7chJ7RlOtrrF" crossorigin="anonymous"></script>
    
    <script>
        $(document).on('change','select',function(e)
        {
        
            var index=parseInt($('select#viewstockitem option:selected').index());
            // alert(index);  
           
               if(index!==0)
               {
                $('div.searchstockitem').show();
               }
               else
               {
                $('div.searchstockitem').hide();

               }
                     for(i=1;i<4;i++)
                 {
                    if(index===i)
                    {
                    $('div.searchstockitem').find('input').eq(i-1).css('display','inline').focus();
                    // show();
                }
                else
                {
                    $('div.searchstockitem').find('input').eq(i-1).css('display','none').focus();

                }
                }
            
        })

        $('button.searchstock').on('click',function(e)
        {
        var index=parseInt($('select#viewstockitem option:selected').index());
        var searchby=$('select#viewstockitem option:selected').val();
        var senditem='';
        if(index!==0)
        {
          for(i=1;i<4;i++)
                 {
                    if(index===i)
                    {
                    senditem= $('div.searchstockitem').find('input').eq(i-1).val();
                                     // show()
                    }   
            }
        }
 var dynamictable=`<div class="form-group filterdiv"><label>Filter</label><select class="form-control d-inline ml-3" style="width:100px;"><option value="date">Date</option></select><input autocomplete="off"  id="stocksearchstartdate"  style="width:200px;" class="form-control d-inline ml-3 datepicker"><input autocomplete="off" style="width:200px;" id="stocksearchenddate" class="form-control datepicker d-inline ml-3"><button class="btn filterstock btn-primary ml-2">Filter</button></div><div style="max-height: 400px;" class="table-responsive mt-3 searchresults">
 <table style="color:black; font-weight:bold;" class="table table-md text-center table-bordered"><tr><th>S.N</th><th>Itemname</th><th>Inwards</th><th>Outwards</th><th>Closing</th><th>Item group</th> <th> Item Category </th></tr><tr>`;

            $.ajax({
                url:'/searchstock',
                type:'post',
                async:false,
                data:{index:index,searchby:searchby,senditem:senditem},
                success:function(data)
                {

                    
       

                $('.viewresult').html('');
                result=data.result;
                // alert("success");
               
                console.log(data);
                console.table(result);
                if(result.length>0)
                {
                
                for(i=0;i<result.length;i++)
                {
                    dynamictable+=`<tr><td>${i+1}</td><td>${result[i].itemname}</td><td>${result[i].totalpurchase}</td><td>${result[i].totalsales}</td><td>${result[i].totalpurchase-result[i].totalsales}</td><td>${result[i].itemgroupname}</td><td>${result[i].categoryname}</tr>`;
                }
                dynamictable+='</table></div>';
                $('.viewresult').append(dynamictable);
                var gc = $.calendars.instance('gregorian', 'fr');
var currentdate = gc.newDate();
var currenttime = new Date();
var currenttime = currenttime.toLocaleTimeString();
$('.datepicker').calendarsPicker({ calendar: $.calendars.instance('gregorian'),dateFormat: 'yyyy-mm-dd'});
                }
                else
                {
                   
                    alert("No any item in the list");
                }
               
                }
                ,
                error:function(data)
                {
                alert("Item not found")
                }

            })
        })



        $(document).on('click','button.filterstock',function(e)
        {
        var index=parseInt($('select#viewstockitem option:selected').index());
        var searchby=$('select#viewstockitem option:selected').val();
        var filterstartdate=$("#stocksearchstartdate").val();
        var filterenddate=$("#stocksearchenddate").val();
        var senditem='';
        if(index!==0)
        {
          for(i=1;i<4;i++)
                 {
                    if(index===i)
                    {
                    senditem= $('div.searchstockitem').find('input').eq(i-1).val();
                                     // show()
                    }   
            }
        }
 var dynamictable=`<div style="max-height: 400px;" class="table-responsive mt-3 searchresults">
 <table style="color:black; font-weight:bold;" class="table table-md text-center table-bordered"><tr><th>S.N</th><th>Itemname</th><th>Inwards</th><th>Outwards</th><th>Closing</th><th>Item group</th> <th> Item Category </th></tr><tr>`;

            $.ajax({
                url:'/filterstock',
                type:'post',
                async:false,
                data:{index:index,searchby:searchby,senditem:senditem,startdate:filterstartdate,enddate:filterenddate},
                success:function(data)
                {
            
                $('.searchresults').remove();
                result=data.result;
                // alert("success");
               
                console.log(data);
                console.table(result);
                if(result.length>0)
                {
                
                for(i=0;i<result.length;i++)
                {
                    dynamictable+=`<tr><td>${i+1}</td><td>${result[i].itemname}</td><td>${result[i].totalpurchase}</td><td>${result[i].totalsales}</td><td>${result[i].totalpurchase-result[i].totalsales}</td><td>${result[i].itemgroupname}</td><td>${result[i].categoryname}</tr>`;
                }
                dynamictable+='</table></div>';
                $('.viewresult').append(dynamictable);
                var gc = $.calendars.instance('gregorian', 'fr');
var currentdate = gc.newDate();
var currenttime = new Date();
var currenttime = currenttime.toLocaleTimeString();
$('.datepicker').calendarsPicker({ calendar: $.calendars.instance('gregorian'),dateFormat: 'yyyy-mm-dd'});
                }
                else
                {
                    alert("No any item in the list");
                $(".searchresults").remove();

                }
               
                }
                ,
                error:function(data)
                {
                $(".searchresults").html('');

                alert("Item not found")
                }

            })
        })


    </script>


</body>

</html>